﻿<div class="nav-header">
    <div class="brand-logo">
        <a href="/Admin/Message/Index/">
            <span style="color:black; font-weight:bolder;">Craftech Admin</span>
        </a>
    </div>
</div>