@model List<CraftTech.WebUI.Areas.Admin.Models.Message.MessageResultDto>
@{
    ViewData["Title"] = "NotRead";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
    int count = 1;
}


<br />
<h1>Mesajlar</h1>
<br />
<a href="/Admin/Message/Index/" class="btn btn-outline-info">Tüm Mesajları Gör</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen Adı Soyadı</th>
        <th>Gönderen Mail</th>
        <th>Gönderen Telefon</th>
        <th>Görüntüle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@count</th>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td><a href="/Admin/Message/MessageDetail/@item.MessageID/" class="btn mb-1 btn-rounded btn-outline-success">Mesajı Gör</a></td>
            <td><a href="/Admin/Message/DeleteMessage/@item.MessageID" class="btn mb-1 btn-rounded btn-outline-danger" onclick="return confirm('Bu mesajı silmek istediğinizden emin misiniz?')">Sil</a></td>
        </tr>
        count++;
    }
</table>