@model List<CraftTech.WebUI.Areas.Admin.Models.Product.ProductResultDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
    int count = 1;
}

<br />
<h1>Ürünler</h1>
<br />
<a href="/Admin/Product/AddProduct/" class="btn btn-outline-info">Yeni Ürün Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@count</th>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Admin/Product/UpdateProduct/@item.ProductID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="/Admin/Product/DeleteProduct/@item.ProductID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
        </tr>
        count++;
    }
</table>